* {
    margin: 0;
    padding: 0;
}

.back-logo {
    background-color: #727D73;
    width: 1440;
    height: 100px;
    padding: 15px;
}

.logo {
    position: absolute;
    top: 18px;
}

.tulisan {
    color: #F0F0D7;
    position: absolute;
    left: 4rem;
    top: 2rem;
}

.navbar {
    background-color: #AAB99A;
    width: 1440;
    height: 50px;
    position: relative;
}

.navbar {
    background-color: #AAB99A;
    width: 1440;
    height: 50px;
    position: relative;
}

.ul-navbar {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 100px;
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
 }

 .beranda {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
 }

 .beranda img {
    height: auto;
    width: 100%;
 }

 .beranda .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .header h1 {
   color: #FFFFFF;
   font-size: 80px;
   font-family: Arial, Helvetica, sans-serif;
}

 .header p {
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

 .kartu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .card {
    height: 65vh;
    width: 20vw;
    box-shadow: 10px 10px 10px #727D73;
    margin: 50px;
    border-radius: 10px;
 }

 .card img {
    width: 20vw;
    height: 30vh;
    border-radius: 10px;
 }
 
 .card p {
    text-align: center;
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
 }

.penjelasan {
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;
}

/* FOOTER */

.body {
   background-color: #727D73;
   width: 100%;
   height: 395px;
}

.maps {
   position: absolute;
   top: 199rem;
   left: 49rem;
}

.logo img {
   position: absolute;
   top: 196rem;
   left: 1rem;
}

.text-right {
   text-align: right;
   position: absolute;
   top: 198rem;
   left: 6rem;
 }

 .alamat {
   position: absolute;
   top: 202rem;
   left: 5.8rem;
}

.icon img {
   position: absolute;
   top: 211.7rem;
   left: 6rem;
}

.icon h5 {
   position: absolute;
   top: 211.5rem;
   left: 8rem;
}

.icon2 img {
   position: absolute;
   top: 215rem;
   left: 5.8rem;
}

.icon2 h5 {
   position: absolute;
   top: 214.9rem;
   left: 8rem;
}

.Copyright {
   position: absolute;
   top: 219rem;
   left: 30rem;
}
