{
    margin: 0;
    padding: 0;
}

.back-logo {
    background-color: #727D73;
    width: 1440;
    height: 100px;
    padding: 15px;
}

.logo {
    position: absolute;
    top: 18px;
}

.tulisan {
    color: #F0F0D7;
    position: absolute;
    left: 4rem;
    top: 2rem;
}

.navbar {
    background-color: #AAB99A;
    width: 1440;
    height: 50px;
    position: relative;
}

.navbar {
    background-color: #AAB99A;
    width: 1440;
    height: 50px;
    position: relative;
}

.ul-navbar {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 100px;
    
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
 }

 .beranda img {
    height: auto;
    width: 100%;
 }

 .beranda .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .header h1 {
    color: #FFFFFF;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .header2 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }